@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.shadow-radius, .gallery-content .slide.active img, .section .section-card, .section-primary .section-card, .section-grey .section-card, .section .section-card2, .section-primary .section-card2, .section-grey .section-card2, .btn, .btn-primary, .btn-white {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1), -20px -20px 60px rgba(255, 255, 255, 0.3);
}

.shadow-radius2, .gallery-controls span, .gallery-content .slide:hover, .section .section-card:hover, .section-primary .section-card:hover, .section-grey .section-card:hover, .section .section-card2:hover, .section-primary .section-card2:hover, .section-grey .section-card2:hover, .header-body .right .imgbox1, .header-body .right .imgbox2 {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1), -20px -20px 60px rgba(255, 255, 255, 0.3);
}

.shadow-radius-reverse, .gallery-content .slide {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: -20px -20px 60px rgba(255, 255, 255, 0.3), 20px 20px 60px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

main {
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.flex, .gallery-controls span, .gallery-controls, .gallery-content .slide.active, .gallery-content, .gallery, .section .cards-content2, .section-primary .cards-content2, .section-grey .cards-content2, .section .section-card .icon, .section-primary .section-card .icon, .section-grey .section-card .icon, .section .section-card2 .icon, .section-primary .section-card2 .icon, .section-grey .section-card2 .icon, .section .section-card, .section-primary .section-card, .section-grey .section-card, .section .section-card2, .section-primary .section-card2, .section-grey .section-card2, .section .cards-content, .section-primary .cards-content, .section-grey .cards-content, .section .text-content .text-block, .section-primary .text-content .text-block, .section-grey .text-content .text-block, .section, .section-primary, .section-grey, .header-body .right .imgbox1 .play, .header-body .right .imgbox1, .header-body .right, .header-body, .header-top .menu-trigger > a, .header-top .menu-trigger-fixed > a, .header-top .menu-trigger, .header-top .menu-trigger-fixed, .header-top .logo, .header-top, .header, .btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn, .btn-primary, .btn-white {
  margin: 10px;
  padding: 8px 25px;
  background-color: #ccc;
  text-decoration: none;
  transition: transform ease-in-out 0.3s;
  border-radius: 3px;
  user-select: none;
}
.btn:hover, .btn-primary:hover, .btn-white:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform ease-in-out 0.3s;
}
.btn-content {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0px;
}
.btn-content > a:first-child {
  margin-left: 0 !important;
}
.btn-primary {
  color: white;
  background-color: #ffd900;
}
.btn-white {
  color: #ffd900;
  background-color: white;
}

.header {
  width: 100% !important;
  flex-direction: column;
  background-color: #fd7a00;
}
.header-top {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
}
@media screen and (max-width: 992px) {
  .header-top {
    justify-content: space-between;
  }
}
.header-top .logo {
  background-color: white;
  padding: 10px;
  min-height: 40px;
  border-radius: 0px 0px 30px 30px;
  transform: translateY(-2px);
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}
@media screen and (max-width: 992px) {
  .header-top .logo {
    margin-left: 10%;
  }
}
.header-top .logo img {
  width: 28px;
}
.header-top .logo:hover {
  transform: translateY(-5px);
  transition: transform ease-in-out 0.3s;
}
@media screen and (max-width: 992px) {
  .header-top .menu {
    display: none;
  }
}
.header-top .menu > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header-top .menu > ul li {
  display: inline;
  margin: 5px;
}
.header-top .menu > ul li a {
  color: white;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: lighter;
  transition: transform ease-in-out 0.3s;
}
.header-top .menu > ul li a:hover, .header-top .menu > ul li a .active {
  color: #ffd900;
  transform: translateY(-5px);
  transition: transform ease-in-out 0.3s;
}
.header-top .menu-trigger, .header-top .menu-trigger-fixed {
  display: none;
  background-color: transparent;
  padding: 10px;
  min-height: 40px;
  border-radius: 30px 30px 0px 0px;
  cursor: pointer;
  transition: transform ease-in-out 0.3s;
}
@media screen and (max-width: 992px) {
  .header-top .menu-trigger, .header-top .menu-trigger-fixed {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }
}
.header-top .menu-trigger img, .header-top .menu-trigger-fixed img {
  width: 28px;
}
.header-top .menu-trigger > a, .header-top .menu-trigger-fixed > a {
  position: relative;
  flex-direction: column;
}
.header-top .menu-trigger > a span, .header-top .menu-trigger-fixed > a span {
  background: white;
  width: 28px;
  height: 4px;
  margin: 3px;
}
.header-top .menu-trigger-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fd7a00;
  padding: 10px;
  min-height: 40px;
  border-radius: 30px 30px 0px 0px;
}
.header-top .menu-trigger-fixed span {
  background: white;
}
.header-body {
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header-body {
    flex-direction: column-reverse;
    padding: 0px !important;
    overflow: hidden;
  }
}
.header-body .left {
  padding: 40px;
}
.header-body .left h1, .header-body .left strong, .header-body .left small {
  color: white;
  margin: 5px;
  max-width: 200px;
  font-weight: lighter;
  text-justify: inter-word;
}
.header-body .left h1 {
  font-weight: 400;
}
.header-body .left strong {
  font-weight: 400;
}
.header-body .right {
  padding: 30px;
}
@media screen and (max-width: 992px) {
  .header-body .right {
    padding: 0 !important;
  }
}
.header-body .right .imgbox1, .header-body .right .imgbox2 {
  border: solid 3px #ffd900;
  margin: 5px;
  transition: transform ease-in-out 0.3s;
}
@media screen and (max-width: 768px) {
  .header-body .right .imgbox1, .header-body .right .imgbox2 {
    box-shadow: none;
  }
}
.header-body .right .imgbox1:hover, .header-body .right .imgbox2:hover {
  transform: translateY(-5px);
  transition: transform ease-in-out 0.3s;
  z-index: 3 !important;
}
.header-body .right .imgbox1 {
  min-width: 300px;
  min-height: 320px;
  transform: rotate(-11deg);
  background-image: url("../img/01.jpg");
  background-position: center top;
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .header-body .right .imgbox1 {
    width: 80%;
    z-index: 2 !important;
  }
}
.header-body .right .imgbox1 .play {
  padding: 20px 25px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.header-body .right .imgbox1 .play .play-int {
  position: relative;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid rgba(0, 0, 0, 0.3);
}
.header-body .right .imgbox2 {
  min-width: 120px;
  min-height: 140px;
  transform: rotate(11deg) translate(-30px, 30px);
  background-image: url("../img/lapisdecor.jpeg");
  background-position: center top;
  background-size: 200%;
}
@media screen and (max-width: 576px) {
  .header-body .right .imgbox2 {
    width: 10%;
  }
}
.header-wave {
  fill: #fd7a00;
  transform: translateY(-20px);
}

.section, .section-primary, .section-grey {
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .section, .section-primary, .section-grey {
    flex-direction: column;
  }
}
.section .text-content, .section-primary .text-content, .section-grey .text-content {
  box-sizing: border-box;
  padding: 40px;
  max-width: 30%;
}
@media screen and (max-width: 768px) {
  .section .text-content, .section-primary .text-content, .section-grey .text-content {
    max-width: 90%;
  }
}
.section .text-content strong, .section-primary .text-content strong, .section-grey .text-content strong {
  color: #ffd900;
  margin: 0px;
}
.section .text-content h2, .section-primary .text-content h2, .section-grey .text-content h2 {
  margin: 4px;
}
.section .text-content p, .section-primary .text-content p, .section-grey .text-content p, .section .text-content small, .section-primary .text-content small, .section-grey .text-content small {
  color: rgba(0, 0, 0, 0.3);
}
.section .text-content .link, .section-primary .text-content .link, .section-grey .text-content .link {
  color: #fd7a00;
}
.section .text-content .text-block, .section-primary .text-content .text-block, .section-grey .text-content .text-block {
  border-left: solid 5px #fd7a00;
  flex-direction: column;
  align-items: flex-start;
}
.section .text-content .text-block > span, .section-primary .text-content .text-block > span, .section-grey .text-content .text-block > span {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  text-align: left;
  margin-left: 5px;
}
.section .img-content, .section-primary .img-content, .section-grey .img-content {
  padding: 30px;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .section .img-content img, .section-primary .img-content img, .section-grey .img-content img {
    max-width: 380px;
  }
}
@media screen and (max-width: 992px) {
  .section .img-content img, .section-primary .img-content img, .section-grey .img-content img {
    max-width: 280px;
  }
}
.section .cards-content, .section-primary .cards-content, .section-grey .cards-content {
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  align-items: stretch;
  padding: 30px;
}
@media screen and (min-width: 992px) {
  .section .cards-content, .section-primary .cards-content, .section-grey .cards-content {
    width: 50%;
  }
}
.section .section-card, .section-primary .section-card, .section-grey .section-card, .section .section-card2, .section-primary .section-card2, .section-grey .section-card2 {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 10px;
  width: calc(45% - 20px);
  box-sizing: border-box;
  transition: transform ease-in-out 0.3s;
  transition-delay: 0.3s;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .section .section-card, .section-primary .section-card, .section-grey .section-card, .section .section-card2, .section-primary .section-card2, .section-grey .section-card2 {
    width: calc(45% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .section .section-card, .section-primary .section-card, .section-grey .section-card, .section .section-card2, .section-primary .section-card2, .section-grey .section-card2 {
    width: calc(80% - 20px);
    justify-content: stretch;
  }
}
.section .section-card:hover, .section-primary .section-card:hover, .section-grey .section-card:hover, .section .section-card2:hover, .section-primary .section-card2:hover, .section-grey .section-card2:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform ease-in-out 0.3s;
  z-index: 10;
}
.section .section-card:hover > .icon, .section-primary .section-card:hover > .icon, .section-grey .section-card:hover > .icon, .section .section-card2:hover > .icon, .section-primary .section-card2:hover > .icon, .section-grey .section-card2:hover > .icon {
  transform: translate(2px, -10px);
  transition: transform ease-in-out 0.3s;
}
.section .section-card .icon, .section-primary .section-card .icon, .section-grey .section-card .icon, .section .section-card2 .icon, .section-primary .section-card2 .icon, .section-grey .section-card2 .icon {
  background-color: rgba(204, 204, 204, 0.3);
  border-radius: 100%;
  padding: 5px;
  transition: transform ease-in-out 0.3s;
  transition-delay: 0.3s;
}
.section .section-card .icon img, .section-primary .section-card .icon img, .section-grey .section-card .icon img, .section .section-card2 .icon img, .section-primary .section-card2 .icon img, .section-grey .section-card2 .icon img, .section .section-card .icon .material-icons, .section-primary .section-card .icon .material-icons, .section-grey .section-card .icon .material-icons, .section .section-card2 .icon .material-icons, .section-primary .section-card2 .icon .material-icons, .section-grey .section-card2 .icon .material-icons {
  position: relative;
}
.section .section-card .icon img, .section-primary .section-card .icon img, .section-grey .section-card .icon img, .section .section-card2 .icon img, .section-primary .section-card2 .icon img, .section-grey .section-card2 .icon img {
  width: 45px;
  height: 45px;
}
.section .section-card .icon .material-icons, .section-primary .section-card .icon .material-icons, .section-grey .section-card .icon .material-icons, .section .section-card2 .icon .material-icons, .section-primary .section-card2 .icon .material-icons, .section-grey .section-card2 .icon .material-icons {
  padding: 5px;
  font-size: 1.5rem;
}
.section .section-card .icon-primary, .section-primary .section-card .icon-primary, .section-grey .section-card .icon-primary, .section .section-card2 .icon-primary, .section-primary .section-card2 .icon-primary, .section-grey .section-card2 .icon-primary {
  color: #fd7a00;
  background-color: rgba(253, 122, 0, 0.2);
}
.section .section-card .icon-secondary, .section-primary .section-card .icon-secondary, .section-grey .section-card .icon-secondary, .section .section-card2 .icon-secondary, .section-primary .section-card2 .icon-secondary, .section-grey .section-card2 .icon-secondary {
  color: #ffd900;
  background-color: rgba(255, 217, 0, 0.2);
}
.section .section-card .icon-purple, .section-primary .section-card .icon-purple, .section-grey .section-card .icon-purple, .section .section-card2 .icon-purple, .section-primary .section-card2 .icon-purple, .section-grey .section-card2 .icon-purple {
  color: #962496;
  background-color: rgba(150, 36, 150, 0.2);
}
.section .section-card .icon-blue, .section-primary .section-card .icon-blue, .section-grey .section-card .icon-blue, .section .section-card2 .icon-blue, .section-primary .section-card2 .icon-blue, .section-grey .section-card2 .icon-blue {
  color: #7b21f1;
  background-color: rgba(123, 33, 241, 0.2);
}
.section .section-card strong, .section-primary .section-card strong, .section-grey .section-card strong, .section .section-card2 strong, .section-primary .section-card2 strong, .section-grey .section-card2 strong, .section .section-card small, .section-primary .section-card small, .section-grey .section-card small, .section .section-card2 small, .section-primary .section-card2 small, .section-grey .section-card2 small {
  margin-top: 6px;
}
.section .section-card strong, .section-primary .section-card strong, .section-grey .section-card strong, .section .section-card2 strong, .section-primary .section-card2 strong, .section-grey .section-card2 strong {
  font-size: 0.9rem;
}
.section .section-card small, .section-primary .section-card small, .section-grey .section-card small, .section .section-card2 small, .section-primary .section-card2 small, .section-grey .section-card2 small {
  color: #909090;
}
.section .cards-content2, .section-primary .cards-content2, .section-grey .cards-content2 {
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
}
.section .cards-content2 > .section-card2, .section-primary .cards-content2 > .section-card2, .section-grey .cards-content2 > .section-card2 {
  width: 30%;
}
@media screen and (min-width: 1200px) {
  .section .cards-content2 > .section-card2, .section-primary .cards-content2 > .section-card2, .section-grey .cards-content2 > .section-card2 {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .section .cards-content2 > .section-card2, .section-primary .cards-content2 > .section-card2, .section-grey .cards-content2 > .section-card2 {
    width: 45%;
  }
}
@media screen and (max-width: 576px) {
  .section .cards-content2 > .section-card2, .section-primary .cards-content2 > .section-card2, .section-grey .cards-content2 > .section-card2 {
    width: 80%;
  }
}
.section .section-card2, .section-primary .section-card2, .section-grey .section-card2 {
  border-top: solid 4px transparent;
  margin: 15px;
  padding: 20px;
  border-radius: 2px;
  transition-delay: 0.3s;
}
.section .section-card2 > .icon, .section-primary .section-card2 > .icon, .section-grey .section-card2 > .icon {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  transition: transform ease-in-out 0.3s;
  transition-delay: 0.3s;
  padding: 0;
}
.section .section-card2:hover, .section-primary .section-card2:hover, .section-grey .section-card2:hover {
  border-top-color: #fd7a00;
}
.section .section-card2:hover > .icon, .section-primary .section-card2:hover > .icon, .section-grey .section-card2:hover > .icon {
  color: #ffd900;
  transform: none;
}

.section-grey {
  background-color: rgba(204, 204, 204, 0.2);
  padding: 30px;
}

.section-primary {
  background-color: #fd7a00;
  color: white;
  padding: 30px;
}
.section-primary * > {
  color: white;
}

.gallery {
  scroll-margin: 20px;
  position: sticky;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: scroll;
  min-width: 40%;
  height: 100%;
  box-sizing: border-box;
}
.gallery::-webkit-scrollbar {
  width: 1px;
}
.gallery::-webkit-scrollbar-track {
  background-color: transparent;
}
.gallery::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.gallery::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .gallery {
    width: 100%;
  }
}
.gallery-content {
  position: relative;
  box-sizing: border-box;
  background-color: inherit;
  min-width: 100% inherit;
  height: 100%;
  z-index: 1;
}
@media screen and (min-width: 1120px) {
  .gallery-content {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 1120px) {
  .gallery-content {
    padding: 80px 40px;
  }
}
@media screen and (max-width: 768px) {
  .gallery-content {
    padding: 40px 20px;
  }
}
.gallery-content .slide {
  margin: 10px;
  box-sizing: border-box;
  user-select: none;
  border: solid 5px white;
  transition: transform ease-in-out 0.3s;
}
.gallery-content .slide img {
  width: 250px;
  height: 230px;
}
.gallery-content .slide .close {
  cursor: pointer;
  position: fixed;
  z-index: 3;
  top: 30px;
  right: 30px;
  color: rgba(0, 0, 0, 0.3);
  display: none;
}
.gallery-content .slide > .prev, .gallery-content .slide > .next {
  position: fixed;
  z-index: 3;
  color: rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 5rem;
}
.gallery-content .slide > .prev {
  top: calc(50% - 2.5rem);
  left: 20px;
}
.gallery-content .slide > .next {
  top: calc(50% - 2.5rem);
  right: 20px;
}
.gallery-content .slide:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform ease-in-out 0.3s;
  z-index: 2;
}
.gallery-content .slide:hover .gallery > .gallery-controls {
  display: none;
}
.gallery-content .slide.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(253, 122, 0, 0.3);
  border: none;
  box-sizing: border-box;
}
.gallery-content .slide.active > .close, .gallery-content .slide.active > .prev, .gallery-content .slide.active > .next {
  display: block;
}
.gallery-content .slide.active img {
  min-width: 60vw;
  max-width: 80vw;
  max-height: 80vh;
  height: auto;
  border: solid 5px white;
  box-sizing: border-box;
}
.gallery-content .slide.active:hover {
  transform: scale(1);
}
.gallery-controls {
  position: sticky;
  z-index: 1;
  bottom: 70px;
  left: 40px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .gallery-controls {
    bottom: -40px;
    left: 0px;
  }
}
.gallery-controls span {
  background-color: white;
  color: rgba(0, 0, 0, 0.3);
  margin: 5px;
  border-radius: 100%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  transition: transform ease-in-out 0.3s;
}
.gallery-controls span .material-icon, .gallery-controls span i {
  font-size: 1.2rem;
}
.gallery-controls span:hover {
  background-color: rgba(255, 217, 0, 0.7);
  color: white;
  transform: translate(0, -5px) scale(1.1);
  transition: transform ease-in-out 0.3s;
}

/*# sourceMappingURL=style.css.map */
