.section {
  @extend .flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 30px;

  @media screen and (max-width: $md) {
    flex-direction: column;
  }

  & > .text-content {
    box-sizing: border-box;
    padding: 40px;
    max-width: 30%;

    @media screen and (max-width: $md) {
      max-width: 90%;
    }
    strong {
      color: $color2;
      margin: 0px;
    }
    h2 {
      margin: 4px;
    }
    p , small{
      color: $black2;
    }
    .link{
      color: $color1;
    }
    .text-block {
      @extend .flex;
      border-left: solid 5px $color1;
      flex-direction: column;
      align-items: flex-start;
      span {
        color: $black2;
        font-size: .8rem;
        text-align: left;
        margin-left: 5px;
      }
    }
  }

  & > .img-content{
    padding: 30px;
    box-sizing: border-box;

    img {
      @media screen and (min-width: $lg) {
        max-width: 380px;
      }

      @media screen and (max-width: $lg) {
        max-width: 280px;
      }
    }
  }

  .cards-content{
    @extend .flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    align-items: stretch;
    padding: 30px;

    @media screen and (min-width: $lg) {
      width: 50%;
    }
    @media screen and (max-width: $lg) {
      padding: 0;
    }
  }

  .section-card {
    @extend .flex, .shadow-radius;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
    width: calc(45% - 20px);
    box-sizing: border-box;
    transition: transform ease-in-out .3s;
    transition-delay: .3s;
    background-color: $white;

    @media screen and (min-width: $md) {
      width: calc(45% - 20px);
    }

    @media screen and (max-width: $md) {
      width: calc(90% - 20px);
      justify-content: stretch;
    }

    &:hover{
      @extend .shadow-radius2;
      cursor: pointer;
      transform: scale(1.1);
      transition: transform ease-in-out .3s;
      z-index: 10;
      & > .icon {
        transform: translate(2px, -10px);
        transition: transform ease-in-out .3s;
      }
    }

    .icon{
      @extend .flex;
      background-color: rgba($light-grey, .3);
      border-radius: 100%;
      padding: 5px;
      transition: transform ease-in-out .3s;
      transition-delay: .3s;

      img, .material-icons {
        position: relative;
      }

      img {
        width: 45px;
        height: 45px;
      }

      .material-icons {
        padding: 5px;
        font-size: 1.5rem;
      }

      &-primary{
        color: $color1;
        background-color: rgba($color1, .2);
      }

      &-secondary{
        color: $color2;
        background-color: rgba($color2, .2);
      }

      &-purple{
        color: $purple;
        background-color: rgba($purple, .2);
      }

      &-blue{
        color: $blue;
        background-color: rgba($blue, .2);
      }
    }

    strong, small{
      margin-top: 6px;
    }
    strong{
      font-size: .9rem;
    }
    small {
      color: $dark-grey;
    }
  }

  .cards-content2, .cards-content3{
    @extend .flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .cards-content2{
    & > .section-card2 {
      width: 30%;
      @media screen and (min-width: $xl) {width: 20%;}
      @media screen and (max-width: $md) {width: 45%;}
      @media screen and (max-width: $sm) {width: 90%;}
      @media screen and (max-width: $lg) {padding: 0;}
    }
  }

  .cards-content3{
    padding: 0;
    justify-content: center !important;
  }

  .section-card2 {
    @extend .section-card;
    border-top: solid 4px transparent;
    margin: 15px;
    padding: 20px;
    border-radius: 2px;
    transition-delay: .3s;

    & > .icon {
      @extend .flex;
      color: $black2;
      background-color: transparent;
      transition: transform ease-in-out .3s;
      transition-delay: .3s;
      padding: 0;
    }

    &:hover, &.active{
      border-top-color: $color1;
      & > .icon {
        color: $color2;
        transform: none;
      }
    }
  }
  
  .section-card3, .section-card4 {
    @extend .flex;
    @include shadow-reverse(2px, 10px, $black2, $white2);
    @media screen and (max-width: $lg) {width: 90%;}
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    min-height: 300px;
    margin: 20px;
  }

  .section-card3 {
    @extend .flex;
    position: relative;
    background-color: $white;
    flex-direction: column;

    & > .top,  & > .content{
      @extend .flex;
      justify-content: space-between;
      position: relative;
      width: 100%;
      border-bottom: solid 1px $black2;
      padding: 20px 0px;

      &  > .left,  & > .right {
        @extend .flex;
        flex-direction: column;
        align-items: flex-start;
        strong, p{
          color: $black;
          font-size: .8rem;
        }

        small, label{
          font-size: .7rem;
        }
      }
    }

    & > .top{
      padding-top: 0;
      img, .left > img{
        width: 40px;
        height: 40px;
      }

      & > .right {
        strong, p{
          color: $black;
          margin-bottom: 5px;
        }
        small{
          color: $color1;
          font-weight: 500;
        }
      }
    }

    & > .content {
      & > .left, & > .right {
        strong, p{
          color: $black;
        }
        small, label{
          color: $black2;
          margin-bottom: 5px;
        }
      }
    }

    & > .bottom{
      @extend .flex;
      position: relative;
      flex-direction: column;
      padding-bottom: 0;

      strong, small, p{
        font-size: .75rem;
        color: $black2;
        text-align: center;
      }
      .btn-primary{
        font-size: .8rem;
        width: 100%;
      }
    }
  }

  .section-card4 {
    background-color: transparent;
    align-items: flex-start;

    & > .text-content{
      padding: 20px 5px;
      h2 {
        color: $white;
        font-size: 1rem;
        margin: 0;
      }
      strong, label, p , small{
        color: $white;
        font-size: .75rem;
      }
      strong, label {
        font-size: .6rem;
      }
      .link{
        color: $white;
      }
      .text-block {
        @extend .flex;
        flex-direction: column;
        align-items: flex-start;
        border-left: solid 5px $white;
        &  > span {
          color: $white;
          font-size: .65rem;
          margin-left: 5px
        }
      }
    }
  }

}


.section-grey {
  @extend .section;
  background-color: rgba($light-grey, .2);
  padding: 30px;
}


.section-primary {
  @extend .section;
  background-color: $color1;
  color: $white;
  padding: 30px;
  * > {
    color: $white;
  }
}