//Break Points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Colors
$white: white;
$white2: rgba(255,255,255,.3);
$white3: rgba(255,255,255,.5);
$dark-grey: #909090;
$light-grey: #CCC;
$black: black;
$black2: rgba(0,0,0,.3);
$color1: rgb(253, 122, 0);
$color2: rgb(255, 217, 0);
$purple: rgb(150, 36, 150);
$blue: rgb(123, 33, 241);